$color-primary: #fff !default;
$color-primary-alt: #008512 !default;
$color-secondary: #da0000 !default;
$color-background: #141414 !default;
$color-variant-1: #ff4cd8 !default;
$color-variant-2: #43e9ff !default;

$brand-colors: (
  primary: $color-primary,
  primary-alt: $color-primary-alt,
  secondary: $color-secondary,
) !default;

$color-body: scale-color(
  $color-primary,
  $lightness: -30%,
  $saturation: -50%
) !default;
$color-gray: mix(#767676, $color-body, 70%) !default;

$colors: map-merge(
  $brand-colors,
  (
    background: $color-background,
    text: $color-body,
    light: #fff,
  )
);

@function color($key) {
  @return map-get($colors, $key);
}

@function svgColor($color) {
  @return "%23" + str-slice("#{color($color)}", 2, -1);
}

$link-color: color(primary-alt) !default;
$border-radius: 8px !default;

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// stylelint-disable
:root {
  @each $key, $color in $colors {
    --color-#{$key}: #{$color};
  }

  --color-anchor: #{$link-color};
  --title-font-family: "Monoton", sans-serif;
  --body-font-family: "Krona One", sans-serif;
  --header-font-family: "Ubuntu", sans-serif;
  --font-weight-strong: #{$font-weight-strong};

  @each $key, $size in $font-sizes {
    --font-size-#{$key}: #{$size};
  }

  --border-radius: #{$border-radius};
}
