@use "global-styles/fonts";

// You can modify the theme directly, or override some of the variables
// Overrides just need placed prior to the theme use
// For example:
// $color-primary: #3a0;
@use "global-styles/theme" as theme;
@use "global-styles/reset";
@use "utility-styles/logomark";
@use "global-styles/typography";
@use "utility-styles/mixins" as mixins;
@use "composition-styles/layout";
@use "composition-styles/glitch-lines";
@use "block-styles/header";
@use "block-styles/nav";
@use "block-styles/about";
@use "block-styles/guidelines";
@use "block-styles/contribute";
@use "block-styles/files";
@use "block-styles/styles";
@use "block-styles/profile";
@use "block-styles/footer";
@use "utility-styles/links";
