.main-layout {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  @media (min-width: 800px) {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem;
  }
}
