// ======================
// COLOR VARIABLES
// ======================
$color-background: #000 !default; // set default background if not defined
$color-text: #fff !default;

$color-variant-1: #43e9ff !default;
$color-variant-2: #f9fb00 !default;
$color-variant-3: #01ff00 !default;
$color-variant-4: #fd00fb !default;
$color-variant-5: #fb0102 !default;
$color-variant-6: #0301fc !default;

$link-color: $color-variant-1 !default;

// ======================
// TEXT + TYPOGRAPHY
// ======================
$font-size-h1: 6rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.45rem !default;
$font-size-h4: 1.15rem !default;
$font-size-text: 1.05rem !default;

$border-radius: 5px !default;

// ======================
// MAPS
// ======================

// Colors map
$colors: (
  background: $color-background,
  text: $color-text,
  variant-1: $color-variant-1,
  variant-2: $color-variant-2,
  variant-3: $color-variant-3,
  variant-4: $color-variant-4,
  variant-5: $color-variant-5,
  variant-6: $color-variant-6,
  link: $link-color,
);

// Font sizes map
$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

// ======================
// FUNCTIONS
// ======================

// Generic map getter
@function token($map, $key) {
  @return map-get($map, $key);
}

// Shortcut function to get colors
@function color($key) {
  @return token($colors, $key);
}

// ======================
// OUTPUT TO :root
// ======================
:root {
  // Colors
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }

  --title-font-family: "Monoton", sans-serif;
  --header-font-family: "Krona One", sans-serif;
  --body-font-family: "Inconsolata", sans-serif;

  --font-weight-strong: 900;

  // Font sizes
  @each $key, $value in $font-sizes {
    --font-size-#{$key}: #{$value};
  }

  // Border radius
  --border-radius: #{$border-radius};
}
