body {
  background-color: var(--color-background);
  font-family: var(--body-font-family);
  font-size: var(--font-size-text);

  color: var(--color-text);
}

h1 {
  font-family: var(--title-font-family);
  font-size: var(--font-size-h1);
  font-weight: 700;
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

h2,
h3,
h4 {
  font-family: var(--header-font-family);
  line-height: 1;
  margin-bottom: 0.65em;
}

h2 {
  justify-self: center;
  font-size: var(--font-size-h2);
  font-size: clamp(1rem, 4vw, var(--font-size-h2));
}

// To style main headers separately from the subtitle.
// #main h2 {
//
// }

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  margin: 0 0 1rem;
}

// for HTML markup <strong> in Setting the Stage paragraph.
strong {
  font-weight: var(--font-weight-strong);
}

// links color
a {
  color: var(--color-link);
}
a:hover {
  color: var(--color-variant-4);
  text-transform: uppercase;
}

// 'How it Works' blockquote
blockquote {
  padding: 1rem 2rem;

  p {
    margin-bottom: 0;
  }
}

// creating a fake subtitle for the Guidelines and Contribute sections
#guidelines,
#contribute {
  p:nth-of-type(1) {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-strong);
  }
}

// removing unnecessary list styling
.profile li,
footer li {
  list-style-type: none;
}
