@import url("https://fonts.googleapis.com/css2?family=ubuntu&family=Krona+One&family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Krona+One&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200..900&family=Koulen&family=Krona+One&family=Rubik+Glitch&display=swap");
:root {
  --color-background: #000;
  --color-text: #fff;
  --color-variant-1: #43e9ff;
  --color-variant-2: #f9fb00;
  --color-variant-3: #01ff00;
  --color-variant-4: #fd00fb;
  --color-variant-5: #fb0102;
  --color-variant-6: #0301fc;
  --color-link: #43e9ff;
  --title-font-family: "Monoton", sans-serif;
  --header-font-family: "Krona One", sans-serif;
  --body-font-family: "Inconsolata", sans-serif;
  --font-weight-strong: 900;
  --font-size-h1: 6rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.45rem;
  --font-size-h4: 1.15rem;
  --font-size-text: 1.05rem;
  --border-radius: 5px;
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: var(--color-background);
  font-family: var(--body-font-family);
  font-size: var(--font-size-text);
  color: var(--color-text);
}

h1 {
  font-family: var(--title-font-family);
  font-size: var(--font-size-h1);
  font-weight: 700;
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

h2,
h3,
h4 {
  font-family: var(--header-font-family);
  line-height: 1;
  margin-bottom: 0.65em;
}

h2 {
  justify-self: center;
  font-size: var(--font-size-h2);
  font-size: clamp(1rem, 4vw, var(--font-size-h2));
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p {
  margin: 0 0 1rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-variant-4);
  text-transform: uppercase;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

.skip-link {
  position: relative;
  z-index: 1;
  top: 0.5em;
  left: 1em;
}

h1 {
  margin: 1.5em 0.15em 0 0.15em;
  padding: 0.25em;
  justify-self: center;
  position: relative;
  text-shadow: 0.025em 0 0 #fd00fb, -0.025em -0.015em 0 #01ff00, -0.015em 0.025em 0 #43e9ff;
  animation: glitchTextColors 850ms linear infinite;
}
h1::before {
  content: "STYLE STAGE";
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.05em, -0.025em);
  animation: brokenTextOne 750ms linear infinite;
}
h1::after {
  content: "STYLE STAGE";
  position: absolute;
  left: 0.25em;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.05em, 0.025em);
  animation: brokenTextTwo 1000ms linear infinite;
}

@keyframes glitchTextColors {
  0% {
    text-shadow: 0.05em 0 0 #fd00fb, -0.05em -0.025em 0 #01ff00, -0.025em 0.05em 0 #43e9ff;
  }
  14% {
    text-shadow: 0.05em 0 0 #fd00fb, -0.05em -0.025em 0 #01ff00, -0.025em 0.05em 0 #43e9ff;
  }
  15% {
    text-shadow: -0.05em -0.025 0 #fd00fb, 0.025em 0.025em 0 #01ff00, -0.05em -0.05em 0 #43e9ff;
  }
  49% {
    text-shadow: -0.05em -0.025 0 #fd00fb, 0.025em 0.025em 0 #01ff00, -0.05em -0.05em 0 #43e9ff;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #fd00fb, 0.05em 0 0 #01ff00, 0 -0.05em 0 #43e9ff;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #fd00fb, 0.05em 0 0 #01ff00, 0 -0.05em 0 #43e9ff;
  }
  100% {
    text-shadow: -0.025em 0 0 #01ff00, -0.025em -0.025em 0 #01ff00, -0.025em -0.05em 0 #43e9ff;
  }
}
@keyframes brokenTextOne {
  0% {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(-0.05em, -0.025em);
  }
  80% {
    transform: translate(-0.05em, -0.025em);
  }
  85% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes brokenTextTwo {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0.05em, -0.025em);
  }
  30% {
    transform: translate(0.05em, -0.025em);
  }
  35% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
header .container h2 {
  justify-self: center;
  max-width: 90%;
  text-align: center;
  line-height: 2rem;
}
header .container h2:before {
  content: "A modern CSS showcase styled by";
  opacity: 20%;
}
header .container h2:after {
  content: "community contributions";
  opacity: 15%;
}
header {
  text-align: center;
}
header p a:hover, header a:hover {
  color: var(--color-variant-4);
}

/* Styles for larger screens */
@media (min-width: 750px) {
  .skip-link {
    top: 2em;
    left: 1.25em;
  }
  h1 {
    margin: 1em 1em 0 1em;
  }
  header .container h2 {
    max-width: 85%;
  }
  header .container h2:before {
    content: "A modern CSS showcase styled by";
    position: absolute;
    width: 75%;
    top: -0.5rem;
    left: -1.5rem;
    opacity: 15%;
    font-size: 5rem;
    text-align: left;
    line-height: 5rem;
  }
  header .container h2:after {
    content: "community contributions";
    position: absolute;
    width: 75%;
    top: 25rem;
    right: 0;
    opacity: 10%;
    font-size: 5rem;
    text-align: right;
    line-height: 5rem;
  }
  header p {
    display: inline;
  }
  header p::after {
    content: " | ";
    font-weight: var(--font-weight-strong);
  }
}
.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

/*# sourceMappingURL=style.css.map */
