@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

#about {
  @include mixins.panel-base;
  color: theme.color(variant-4);

  h2 {
    font-family: var(--header-font-family);
    font-size: var(--font-size-h2);
    color: var(--color-text);
    margin-bottom: 0.5rem;

    @include mixins.glitch-text(var(--color-variant-3), var(--color-variant-1));
  }

  p {
    font-family: var(--body-font-family);
    font-size: var(--font-size-text);
    line-height: 1.6;
    color: var(--color-text);
  }

  ul {
    justify-self: center;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;

    li {
      box-shadow: 0px 0px 5px var(--color-variant-2);
      padding: 0.5rem 1rem;

      &:hover {
        text-shadow: 5px 5px 3px;
      }
    }

    li:nth-child(odd) {
      color: var(--color-variant-5);

      &:hover {
        transform: rotate(25deg);
      }
    }

    li:nth-child(3n) {
      color: var(--color-variant-1);
    }

    li:nth-child(4n):hover {
      text-shadow: none;
      box-shadow: 5px 5px 3px;
    }

    li:nth-child(5n) {
      color: var(--color-variant-3);
      justify-self: start;
    }

    li:nth-child(even) {
      position: relative;

      &:hover::after {
        content: "——————";
        position: absolute;
        top: -10px;
        left: -10px;
        transform: rotate(0deg);
      }
    }
  }
}

// --------------------------
// Block Quote Glitch Stripe
// --------------------------
blockquote::after {
  content: "";
  position: absolute;
  top: -100;
  left: 0;
  width: 500px;
  height: 5px; /* Set the thickness of your border */
  background-color: var(--color-variant-5); /* Set the color of your border */
  clip-path: polygon(
    15% 75%,
    15% 15%,
    15% 0%,
    75% 0%,
    75% 15%,
    100% 15%,
    100% 75%,
    75% 75%,
    75% 100%,
    15% 100%,
    0 100%,
    0% 75%
  );

  animation: glitchStripe 1000ms linear infinite;
}

// colors for glitch spot
@keyframes glitchStripe {
  0% {
    transform: translate(0, 0);
    background-color: var(--color-background);
  }
  10% {
    background-color: var(--color-background);
    opacity: 50%;
  }
  15% {
    transform: translate(0, 0);
    background-color: var(--color-variant-6);
    opacity: 100%;
  }
  20% {
    transform: translate(-0.05em, -0.025em);
    background-color: var(--color-background);
    opacity: 50%;
  }

  70% {
    transform: translate(-0.05em, -0.025em);
    background-color: var(--color-background);
  }
  85% {
    background-color: var(--color-variant-6);
  }
  90% {
    transform: translate(0, 0);
    background-color: var(--color-background);
    opacity: 50%;
  }

  100% {
    transform: translate(0, 0);
    background-color: var(--color-background);
    opacity: 50%;
  }
}
