@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.about {
  @include mixins.panel-base;
  color: theme.color(variant-4);

  h2 {
    font-family: var(--header-font-family);
    font-size: var(--font-size-h2);
    color: var(--color-text);
    margin-bottom: 0.5rem;

    @include mixins.glitch-text(var(--color-variant-3), var(--color-variant-1));
  }

  p {
    font-family: var(--body-font-family);
    font-size: var(--font-size-text);
    line-height: 1.6;
    color: var(--color-text);
  }
}
