@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.contribute {
  @include mixins.panel-base;
  border-color: rgba(255, 255, 255, 0.25);

  h2 {
    font-family: var(--header-font-family);
    font-size: var(--font-size-h2);
    color: var(--color-text);

    @include mixins.glitch-text(var(--color-variant-1), var(--color-variant-4));
  }
}
