@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.files {
  @include mixins.panel-base;

  ul {
    list-style: none;
    margin-top: 1rem;

    li {
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      a {
        color: var(--color-variant-3); 
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-shadow: 0 0 6px var(--color-variant-1);
        }
      }
    }
  }
}
