footer {
  padding: 2rem;
  background: var(--color-background); 
  border-top: 4px solid var(--color-variant-3);
  text-align: center;

  p {
    color: var(--color-text); 
    font-size: 0.9rem;
  }

  a {
    color: var(--color-variant-4); 
    font-weight: bold;

    &:hover {
      text-shadow: 0 0 10px var(--color-variant-1); 
    }
  }
}
