@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.guidelines {
  @include mixins.panel-base; 

  h2 {
    color: var(--color-text);
    @include mixins.glitch-text( 
      var(--color-variant-4),
      var(--color-variant-3) 
    );
  }

  ol,
  ul {
    padding-left: 1.2rem;

    li {
      margin-bottom: 0.5rem;
      line-height: 1.5;
    }
  }
}
