// header {
//   --logomark-height: 3em;
//   --logomark-padding: 0 1em;

//   display: grid;
//   min-height: 40vh;
//   place-items: center;
//   padding: 10vh 2rem;
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a00ff' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
//     url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d42257' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
//   background-repeat: repeat-x;
//   background-position: 0 -38px, 17px -40px;
//   color: var(--color-primary);
//   text-align: center;

//   h1 {
//     @include logomark;
//   }

//   h2 {
//     max-width: 30ch;
//   }
// }

.skip-link {
  position: relative;
  z-index: 1;
  top: 0.5em;
  left: 1em;
}

// title broken text and glitch animation
h1 {
  margin: 1.5em 0.15em 0 0.15em;
  padding: 0.25em;
  justify-self: center;

  position: relative;
  text-shadow: 0.025em 0 0 #fd00fb, -0.025em -0.015em 0 #01ff00,
    -0.015em 0.025em 0 #43e9ff;

  animation: glitchTextColors 850ms linear infinite;

  &::before {
    content: "STYLE STAGE";
    position: absolute;

    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.05em, -0.025em);
    animation: brokenTextOne 750ms linear infinite;
  }

  &::after {
    content: "STYLE STAGE";
    position: absolute;
    left: 0.25em;

    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.05em, 0.025em);
    animation: brokenTextTwo 1000ms linear infinite;
  }
}

@keyframes glitchTextColors {
  0% {
    text-shadow: 0.05em 0 0 #fd00fb, -0.05em -0.025em 0 #01ff00,
      -0.025em 0.05em 0 #43e9ff;
  }
  14% {
    text-shadow: 0.05em 0 0 #fd00fb, -0.05em -0.025em 0 #01ff00,
      -0.025em 0.05em 0 #43e9ff;
  }
  15% {
    text-shadow: -0.05em -0.025 0 #fd00fb, 0.025em 0.025em 0 #01ff00,
      -0.05em -0.05em 0 #43e9ff;
  }
  49% {
    text-shadow: -0.05em -0.025 0 #fd00fb, 0.025em 0.025em 0 #01ff00,
      -0.05em -0.05em 0 #43e9ff;
  }
  50% {
    text-shadow: 0.025em 0.05em 0 #fd00fb, 0.05em 0 0 #01ff00,
      0 -0.05em 0 #43e9ff;
  }
  99% {
    text-shadow: 0.025em 0.05em 0 #fd00fb, 0.05em 0 0 #01ff00,
      0 -0.05em 0 #43e9ff;
  }
  100% {
    text-shadow: -0.025em 0 0 #01ff00, -0.025em -0.025em 0 #01ff00,
      -0.025em -0.05em 0 #43e9ff;
  }
}

@keyframes brokenTextOne {
  0% {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 0);
  }
  70% {
    transform: translate(-0.05em, -0.025em);
  }
  80% {
    transform: translate(-0.05em, -0.025em);
  }
  85% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes brokenTextTwo {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0.05em, -0.025em);
  }
  30% {
    transform: translate(0.05em, -0.025em);
  }
  35% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

header {
  & .container h2 {
    justify-self: center;
    max-width: 90%;
    text-align: center;
    line-height: 2rem;

    &:before {
      content: "A modern CSS showcase styled by";
      opacity: 20%;
    }

    &:after {
      content: "community contributions";
      opacity: 15%;
    }
  }

  text-align: center;

  & p a:hover,
  & a:hover {
    color: var(--color-variant-4);
  }
}

/* Styles for larger screens */
@media (min-width: 750px) {
  .skip-link {
    top: 2em;
    left: 1.25em;
  }

  h1 {
    margin: 1em 1em 0 1em;
  }

  header {
    & .container h2 {
      max-width: 85%;

      &:before {
        content: "A modern CSS showcase styled by";
        position: absolute;
        width: 75%;
        top: -0.5rem;
        left: -1.5rem;
        opacity: 15%;
        font-size: 5rem;
        text-align: left;
        line-height: 5rem;
      }

      &:after {
        content: "community contributions";
        position: absolute;
        width: 75%;
        top: 25rem;
        right: 0;
        opacity: 10%;
        font-size: 5rem;
        text-align: right;
        line-height: 5rem;
      }
    }
    & p {
      display: inline;

      &::after {
        content: " | ";
        font-weight: var(--font-weight-strong);
      }
    }
  }
}
