@use "../global-styles/theme" as theme;

section h2, section h3 {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, theme.color(variant-1), theme.color(variant-4));
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
