nav {
  margin: 7rem 0 2rem 0;
  border-top: 1px solid var(--color-variant-4);
  border-bottom: 4px solid var(--color-variant-6);
  box-shadow: 0px 2px 1px var(--color-variant-5);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    a {
      padding: 1rem;
      font-size: 1.5rem;
      text-decoration: none;

      &::before {
        width: 100%;
        height: 0.33em;
        background-color: var(--color-variant-6);
        opacity: 0.5;
        content: "/";
      }
    }
  }
}
