@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.profile {
  @include mixins.panel-base;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--color-variant-1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 1rem;
  }

  h3 {
    font-family: var(--header-font-family);
    color: var(--color-text);
    margin-bottom: 0.5rem;
  }
}
