@use "../utility-styles/mixins" as mixins;
@use "../global-styles/theme" as theme;

.styles {
  @include mixins.panel-base;

  h2 {
    @include mixins.glitch-text(
      var(--color-variant-1), 
      var(--color-variant-4) 
    );
    color: var(--color-text);
  }
}
